
    <link rel="stylesheet" href="scene1.css">
    <div class="workspace" style="text-align:center !important;">     
   </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="scene1.js"></script>

