          
    .whiteboard_box , .shelving_board , .smartassistant_box,.monitor_box,.standingdesk_box,.wifi_box,.backdrop_box,.lighting_box{
        display: none;
    }
    .new_frame,.new_smart {
        display: none;
    }

    .shelving_box{
        display:block;
    }
    /* .monitor_box{
        display:block;
    } */
    
    
   
    .shelving,.large_monitor,.smart_assistant,.white_board,.standing_desk,.standing_desk,.wifi_booster,.backdrop,.ligthning{
        fill: none;
        pointer-events: all;
    }
   .workspace {
     position: relative;
     text-align: center;
     width: 80vw;
     height: 80vh;
   }
   @media only screen and (max-width: 1024px) {
            .workspace {
                width: 100%;
                 height: 100%;
            }
}
   svg {
       width: 100%;
       height: 100%;
   }
   